body{

  background-color: lavender;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.App{
  background-color:lavender;
  color:black;
  display: grid;
  grid-template-columns:0.5fr 0.5fr 0.5fr;
  align-items: center;
  justify-content: center;
  margin:auto;
  border-radius: 10px;

}
.list{
  background-color:lightpink;
  color:black;
  box-sizing: border-box;
  border-radius: 10px;
}

